#
# PROCA feature configuration
#

config PROCA
	bool "Process Authenticator"
	depends on FIVE
	default n
	help
	   Enable Process Authenticator

config PROCA_GKI_10
	bool "GKI 1.0 compatible version of PROCA"
	depends on PROCA
	default y if FIVE_GKI_10
	default n
	help
	   Build GKI 1.0 compatible version of PROCA

config PROCA_S_OS
	bool "S OS compatible version of PROCA"
	depends on PROCA
	default n
	help
	   Build S OS compatible version of PROCA

config PROCA_DEBUG
	bool "PROCA Debug mode"
	depends on PROCA && !SAMSUNG_PRODUCT_SHIP
	default y
	help
	   Enable the debug mode in the PROCA. When this option is enabled
	   PROCA driver creates file /proc/<pid>/integrity/proca_certificate
	   which contains hex representation of binary proca certificate. It
	   might be used to check existence of task descriptor for some task
	   in proca table.
