#
# Combo redriver  devices
#

comment "Combo driver configs"

config COMBO_REDRIVER_PTN36502
	bool "ptn36503 support"
	depends on I2C
	default n
	help
	  If you say yes here you will get support for
	  the CCIC attached device status change notification.
