config FIMC_BNS_V2_0
	bool "Use BNS H/W v2.0 (Exynos7420)"
	depends on EXYNOS_FIMC_BNS
	default n
	help
	  bns version 3.0

config FIMC_BNS_V4_0
	bool "Use BNS H/W v4.0 (Exynos8890)"
	depends on EXYNOS_FIMC_BNS
	default n
	help
	  bns version 4.0

config FIMC_BNS_V4_10_0
	bool "Use BNS H/W v4.10.0 (Exynos7870)"
	depends on EXYNOS_FIMC_BNS
	default n
	help
	  bns version 4.10.0

config FIMC_BNS_V4_20_0
	bool "Use BNS v4.20.0 (Exynos8890 EVT1)"
	depends on EXYNOS_FIMC_BNS
	default n
	help
	  bns version 4.20.0

config FIMC_BSC_V1_20_0
	bool "Use BSC v1.20.0 (Exynos7570)"
	depends on EXYNOS_FIMC_BNS
	default n
	help
	  bsc version 1.20.0
