
config ANDROID_TIMED_OUTPUT
	bool "Timed output class driver"
	default n

config MOTOR_CS40L2X
	tristate "motor"
	default n
	help
	  Say Y to enable MOTOR_CS40L2X.
	  
config MOTOR_DRV_MAX77705
	tristate "Maxim MAX77705 motor"
	default n
	depends on MFD_MAX77705
	help
	  If you say yes here you will get support for the
	  motor of Maxim MAX77705 PMIC.
	  To enable this driver, MFD_MAX77705 should be enabled and
	  MFD_MAX77705 calls this driver.

config SEC_HAPTIC
	tristate "sec haptic"
	default n
	depends on DRV_SAMSUNG
	help
	  If you say yes here you will get support for the
	  sec haptic driver.
	  To enable this driver, DRV_SAMSUNG should be enabled and
	  motor driver calls this driver.

config VIB_NOTIFIER
	bool "VIB notifier support"
	default n
	help
	  If you say yes here you will get support for
	  the VBUS status change notification.

