config BCM_DHD_WLAN
	bool "Broadcom devices"
	default y
	---help---
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about  cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if BCM_DHD_WLAN

source "drivers/net/wireless/broadcom/b43/Kconfig"
source "drivers/net/wireless/broadcom/b43legacy/Kconfig"
source "drivers/net/wireless/broadcom/brcm80211/Kconfig"
source "drivers/net/wireless/broadcom/bcmdhd_100_10/Kconfig"
source "drivers/net/wireless/broadcom/bcmdhd_100_15/Kconfig"
source "drivers/net/wireless/broadcom/bcmdhd_101_16/Kconfig"
source "drivers/net/wireless/broadcom/bcmdhd/Kconfig"

endif # WLAN_VENDOR_BROADCOM
