#
# MCPS configuration
#
config MCPS
	bool "MCPS configuration"
	default m
	help
		It will improve RPS mechanism using A-RPS(Advanced RPS) .
		A-RPS allow available core to take a more network flow.

config MCPS_GRO_ENABLE
    bool "Enable GRO on MCPS"
    default y
    depends on MCPS=y
    help
        It will allow MCPS to enable Generic Receive Offload(GRO)

config MCPS_DEBUG_PRINTK
	int "MCPS Debugging printk"
	default 3
	depends on MCPS=y
	help
		It occur a printk at all time. It may be cause a sluggish.
		So It should be false on Device for sales or testing of performance.

config MQTCP_DEBUG_PRINTK
    bool "MQTCP Debugging printk"
    default n
    depends on MCPS=y
    help
        It occur a printk at all time. It may be cause a sluggish.
        So It should be false on Device for sales or testing of performance.

config MCPS_DEBUG_SYSTRACE
    bool "MCPS debugging systrace"
    default n
    depends on MCPS=y
    help
        Test...

config MCPS_DEBUG
    bool "MCPS debug dump"
    default y
    depends on MCPS=y
    help
        ....

config MCPS_CHUNK_GRO
    bool "MCPS one chunk one gro"
    default y
    depends on MCPS=y
    help
        ....

config MCPS_ICB
    bool "MCPS Initial Connection Booster"
    default n
    depends on MCPS=y && ARCH_EXYNOS
    help
        Improving initial TCP throughput by cpu frequency boosting and adaptive gro setting

config MCPS_V2
    bool "MCPS v2"
    default y
    depends on MCPS=y
    help
        The MCPS v2 adopts some of the GRO function chains.
        This allows more detailed operation of GRO and to lead GROed packets to ARPS after GRO flush.

config MCPS_GRO_PER_SESSION
    bool "MCPS gro per session"
    default y
    depends on MCPS=y
    help
        Determines the number of packets to be combined using GRO per session.

config MCPS_ICGB
    bool "MCPS Initial Connection GRO Booster"
    default y
    depends on MCPS=y && MCPS_GRO_PER_SESSION=y
    help
        Adjust GRO policy according to the features of the session to optimize the throughput of the session.
