/*
 * SAMSUNG UNIVERSAL9820 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "battery_data_d2x_common.dtsi"
#include "battery_rx_data_lsi.dtsi"

/ {
	fragment@battery {
		target-path = "/";
		__overlay__ {
				battery {
					battery,wpc_en = <&expander_gpios 18 0>;
					battery,mst_pwr_en = <&expander_gpios 5 0>;
				};
		}; /* end of __overlay__ */
	}; /* end of fragment */
};

&pinctrl_0 {
	 vrect_int: vrect-int {
		 samsung,pins = "gpa3-2";
		 samsung,pin-function = <0xf>;
		 samsung,pin-pud = <0>;
		 samsung,pin-drv = <0>;
	 };

	 pdet_b: pdet-b {
		 samsung,pins = "gpa2-1";
		 samsung,pin-function = <0xf>;
		 samsung,pin-pud = <0>;
		 samsung,pin-drv = <0>;
	 };
};

&hsi2c_46 {
	mfc-s2miw04-charger@3b {
		pinctrl-0 = <&wpc_int &wpc_det &pdet_b &vrect_int>;
	
		battery,mst_pwr_en = <&expander_gpios 5 0>;
		battery,wpc_en = <&expander_gpios 18 0>;
		battery,ping_nen = <&expander_gpios 20 0>;
		battery,vrect_int = <&gpa3 2 0>;
	};
};

&hsi2c_45 {
	pca9468@57 {
		pca9468,chg_gpio_en = <&expander_gpios 16 0>;
	};
};