config FIMC_IS_V6_0_0
	bool "Use fimc-is v6.0.0"
	depends on SOC_EXYNOS9810
	select EXYNOS_DEVICE_MIPI_CSIS_VER4
	select CSIS_V5_1
	select CAMERA_CIS_SELECT
	select CAMERA_ACT_SELECT
	select CAMERA_FLASH_SELECT
	select CAMERA_PDP
	select USE_DIRECT_IS_CONTROL
	select CAMERA_MC_SCALER_VER2_USE
	select CAMERA_TDNR_VER2_USE
	select MC_SCALER_V4_0
	select USE_HW_API_COMMON
	select DCP_V1_0
	help
	  fimc-is version 6.0.0
