#
# ACPM driver configuration
#

menuconfig EXYNOS_ACPM
	bool "ACPM driver support"
	default n
	help
	  Enable ACPM support

if EXYNOS_ACPM

config EXYNOS7570_ACPM
	bool "EXYNOS7570_ACPM support"
	default y
	depends on SOC_EXYNOS7570
	help
	  Enable ACPM support

config EXYNOS7270_ACPM
	bool "EXYNOS7270_ACPM support"
	default y
	depends on SOC_EXYNOS7270
	help
	  Enable ACPM support

config EXYNOS8895_ACPM
	bool "EXYNOS8895_ACPM support"
	default y
	depends on SOC_EXYNOS8895
	help
	  Enable ACPM support

config EXYNOS9810_ACPM
	bool "EXYNOS9810_ACPM support"
	default y
	depends on SOC_EXYNOS9810
	help
	  Enable ACPM support

config EXYNOS_ACPM_MFD
	bool "EXYNOS_ACPM_MFD support"
	default y
	help
	  Enable ACPM_MFD support

config EXYNOS_ACPM_S2D
	bool "EXYNOS_ACPM_S2D support"
	help
	  Enable ACPM_S2D support

endif
