#
# (C) COPYRIGHT 2012 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the GNU General Public License version 2
# as published by the Free Software Foundation, and any use by you of this program is subject to the terms of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained from Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#
#


menu "ARM GPU Configuration"

menuconfig MALI_DDK_VERSION
	tristate "Mali support"
	default y
	help
	  Enable this option to build support for the ARM Mali-T7xx GPU.

	  To compile this driver as a module, choose M here:
	  this will generate a single module, called mali_kbase.

choice
	prompt "version Configuration"
	depends on MALI_DDK_VERSION
	default MALI_BIFROST_R26P0 if ANDROID_VERSION >= "110000"
	default MALI_BIFROST_R19P0_Q if ANDROID_VERSION = "100000"
	default MALI_BIFROST_R16P0 if ANDROID_VERSION < "100000"
	help
	  Select the gpu support version.

config MALI_BIFROST_R10P0
	depends on MALI_DDK_VERSION
	bool "Bifrost r10p0 driver"

config MALI_BIFROST_R12P0
	depends on MALI_DDK_VERSION
	bool "Bifrost r12p0 driver"

config MALI_BIFROST_R14P0
	depends on MALI_DDK_VERSION
	bool "Bifrost r14p0 driver"

config MALI_BIFROST_R16P0
	depends on MALI_DDK_VERSION
	bool "Bifrost r16p0 driver"

config MALI_BIFROST_R19P0_Q
	depends on MALI_DDK_VERSION
	bool "Bifrost r19p0 driver for Android Q"

config MALI_BIFROST_R26P0
	depends on MALI_DDK_VERSION
	bool "Bifrost r26p0 driver for Android R"
endchoice

if MALI_BIFROST_R10P0
source "drivers/gpu/arm/b_r10p0/Kconfig"
endif

if MALI_BIFROST_R12P0
source "drivers/gpu/arm/b_r12p0/Kconfig"
endif

if MALI_BIFROST_R14P0
source "drivers/gpu/arm/b_r14p0/Kconfig"
endif

if MALI_BIFROST_R16P0
source "drivers/gpu/arm/b_r16p0/Kconfig"
endif

if MALI_BIFROST_R19P0_Q
source "drivers/gpu/arm/b_r19p0/Kconfig"
endif

if MALI_BIFROST_R26P0
source "drivers/gpu/arm/b_r26p0/Kconfig"
endif

endmenu
