config VIDEO_EXYNOS_FIMC_IS2
	bool "Exynos FIMC-IS2 (Image Subsystem) driver"
	depends on VIDEO_EXYNOS
	select MEDIA_EXYNOS
	select EXYNOS_FIMC_IS
	select VIDEOBUF2_DMA_SG
	default n
	help
	  This is a v4l2 driver for exynos FIMC-IS device.

source "drivers/media/platform/exynos/fimc-is2/ischain/Kconfig"
source "drivers/media/platform/exynos/fimc-is2/sensor/Kconfig"

#menu depth1
menu "Base Feature Setting"
	depends on EXYNOS_FIMC_IS

source "drivers/media/platform/exynos/fimc-is2/hardware/Kconfig"
endmenu

source "drivers/media/platform/exynos/fimc-is2/vendor/Kconfig"
